<html>
    {% load static %}
    <body>

    <h1 style="border: 1mm; border-style: solid; border-color:blue; background-color:orangered; text-align: center; font-family: 'Times New Roman', Times, serif;color:skyblue ">HI !!!</h1>
<!--
    <p style="text-decoration: dashed;text-size-adjust: 5;">hi</p>
    <img src="{% static 'a.png' %}">
-->
<h6 style="color: brown; font-family: 'Times New Roman', Times, serif;font-size: x-large;">What is your name?</h6>
<input type="text" style="font-family: 'Times New Roman', Times, serif;font-size: medium;color:royalblue;">
</body>

</html>