<!DOCTYPE html>
<html lang="en">
    <head>
    <title>mypage
    </title>
    </head>
    <body>
        <h1>hello</h1>
        <p>this is not that.</p>
        <a href="http//www.whatsapp.com">this is whatsapp link.</a>
        <br>
        <img src="a.png" alt="image damaged" width="1000" height="500">
        <br>
      <p title="bloody begger" style="color: red;" font="times new roman;" size="20">hi this my paragraph</p>
    <p title=gi jkh>how are you</p>
    </body>
    
</html>